.section {
  width: 100%;
  height: 100%;
  background-color: white;
  margin-top: var(--navbar-height);
}

.list-view {
  padding-inline-start: 20px;
  padding-inline-end: 20px;

  @media (min-width: 1440px) {
    width: 1200px;
  }
  @media (min-width: 1280px) {
    width: 1170px;
  }

  @media (min-width: 1150px) {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: 1024px) {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.list-view__link {
  font-size: 1.125rem;
  line-height: 1.2em;
  -webkit-letter-spacing: 0.01em;
  -moz-letter-spacing: 0.01em;
  -ms-letter-spacing: 0.01em;
  letter-spacing: 0.01em;
  padding: 24px 0px;
  color: var(--color-content-primary);
  font-weight: 700;

  &:hover {
    text-decoration: underline;
    color: var(--color-content-primary);
  }

  @media (min-width: 481px) {
    font-size: 1rem;
    line-height: 1.2em;
    -webkit-letter-spacing: 0.01em;
    -moz-letter-spacing: 0.01em;
    -ms-letter-spacing: 0.01em;
    letter-spacing: 0.01em;
  }
}

.card {
  padding: 24px 0px;
  border-bottom: 1px solid var(--border-color-primary);
}
