:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #121212;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --navbar-height: 48px;
  --color-content-secondary: hsla(0, 0%, 21.18%, 1);
  --color-content-primary: #121212;
  --border-color-primary: #e2e2e2;
}

#root {
  width: 100%;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: var(--color-content-primary);
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


@mixin hover-lighten($color, $amount) {
  background-color: $color;

  &:hover {
    background-color: lighten($color, $amount);
  }
}

@mixin active-lighten($color, $amount) {
  background-color: $color;

  &:active {
    background-color: lighten($color, $amount);
  }
}

@mixin button($bg-color) {
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 69px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 0px;
  box-sizing: border-box;
  user-select: none;
  background-image: none;
  color: white;
  background-color: $bg-color;
  transition: 0.15s ease-in;
  text-align: center;
  outline: none;
  border: none;
  text-decoration: underline;

  @include hover-lighten($bg-color, 7%);
  @include active-lighten($bg-color, 17%);
}
