@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  // font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: "Poppins","Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #121212;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --navbar-height: 48px;
  --color-content-secondary: hsla(0, 0%, 21.18%, 1);
  // --color-content-primary: #121212;
  --color-content-primary: #0A1857;
  --border-color-primary: #e2e2e2;
}

#root {
  width: 100%;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: var(--color-content-primary);
  // text-decoration: underline;
}
// a:hover {
//   text-decoration: none;
// }

ul {
  list-style: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}